/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

body {
  background-color: #f2d2bd;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2em;
  color: #6c757d;
}
.nav {
  margin-top: 1.5rem;
}
.nav-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-items li {
  list-style: none;
  margin-left: 5%;
}

.logo {
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-title {
  font-size: 20px;
}
.popup-window {
  height: 90%;
  width: 90%;
  position: fixed;
  margin: 0 auto;
  /* overflow: auto; */
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}
.popup-window h2 {
  color: black;
}
.popup-content {
  background-color: #f4f4f4;
  margin: 5% auto;
  padding: 2rem;
  max-width: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.17);
}
.close-window {
  float: right;
  font-size: 30px;
}
.close-window:hover,
.close-window:focus {
  transform: scale(2, 2);
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form {
  display: flex;
  flex-direction: column;
}
.popup-food {
  width: 300px;
}
.popup-food img {
  max-width: 100%;
  margin-left: 2rem;
}
.meal-title {
  text-align: center;
  margin: 1rem;
}
.description {
  letter-spacing: 0.2em;
}
.comment-title {
  text-align: center;
  margin: 0.8rem;
}
.display-comments {
  display: flex;
  justify-content: center;
}
.add-comm {
  text-align: center;
  margin: 1rem;
}
.form {
  width: 300px;
  margin-left: 10%;
}
.form .name {
  padding: 0.5rem;
  width: 70%;
  margin: 1rem 0;
  border: 2px solid black;
  font-weight: bolder;
}
.form .insights {
  padding-bottom: 20%;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  font-weight: bolder;
}
.submit {
  padding: 0.8rem;
  border: none;
  box-shadow: 5px 7px 5px rgba(0, 0, 0, 1);
  background-color: rgb(100, 86, 86);
  width: 35%;
}
.social-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}
.icon {
  border-radius: 50%;
  margin-left: 2rem;
}
.footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  margin: 1rem auto;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 7px 3px -3px rgba(0, 0, 0, 0.5);
}
.licence {
  text-align: center;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}
