@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
body {
  background-color: #f2d2bd;
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2em;
  color: #6c757d;
}
.nav {
  margin-top: 1.5rem;
}
.nav-items {
  display: flex;
}
.nav-items li {
  list-style: none;
  margin-left: 5%;
}

.logo {
  border-radius: 50%;
  border: 1px solid black;
  padding: 3rem;
}
.nav-link {
  padding-top: 3rem;
}
.cards {
}
.card {
  width: 100px;
  height: 100px;
}
.card-image {
  max-width: 100%;
  max-height: 100%;
}
.footer {
  position: fixed;
  bottom: 1rem;
  width: 100%;
  margin: 1rem auto;
}
.licence {
  text-align: center;
  border-top: 1px solid black;
  padding: 1rem;
}
